<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Platform</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.plat.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TokenVaild</servlet-name>
    <servlet-class>com.plat.servlet.TokenVaild</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.plat.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>asd</servlet-name>
    <servlet-class>com.plat.servlet.asd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.plat.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploaderServlet</servlet-name>
    <servlet-class>com.plat.servlet.UploaderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WeatherServlet</servlet-name>
    <servlet-class>WeatherServlet</servlet-class>
  </servlet>


  
  <servlet>
  	<description>JAX-WS endpoint - APITestService</description>
  	<display-name>APITestService</display-name>
  	<servlet-name>APITestService</servlet-name>
  	<servlet-class>
  		com.sun.xml.ws.transport.http.servlet.WSServlet
  	</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ManageAppServlet</servlet-name>
    <servlet-class>com.plat.servlet.ManageAppServlet</servlet-class>
  </servlet>

  <servlet>
  	<description>JAX-WS endpoint - BankServiceService</description>
  	<display-name>BankServiceService</display-name>
  	<servlet-name>BankServiceService</servlet-name>
  	<servlet-class>
  		com.sun.xml.ws.transport.http.servlet.WSServlet
  	</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PeanutServlet</servlet-name>
    <servlet-class>com.plat.servlet.PeanutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TokenServlet</servlet-name>
    <servlet-class>com.plat.servlet.TokenServlet</servlet-class>
  </servlet>


  <servlet-mapping>
  	<servlet-name>BankServiceService</servlet-name>
  	<url-pattern>/BankServicePort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>APITestService</servlet-name>
  	<url-pattern>/APITestPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TokenVaild</servlet-name>
    <url-pattern>/TokenVaild</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>asd</servlet-name>
    <url-pattern>/asd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploaderServlet</servlet-name>
    <url-pattern>/UploaderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WeatherServlet</servlet-name>
    <url-pattern>/WeatherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageAppServlet</servlet-name>
    <url-pattern>/ManageAppServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PeanutServlet</servlet-name>
    <url-pattern>/PeanutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TokenServlet</servlet-name>
    <url-pattern>/TokenServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>   
    <welcome-file>login2.jsp</welcome-file>
  </welcome-file-list>
  <listener>
  	<listener-class>
  		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  	</listener-class>
  </listener>
  <listener>
  	<listener-class>
  		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  	</listener-class>
  </listener></web-app>